* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    background-color: rgb(15, 15, 15);
}

.hack{
    position: absolute;
    top:60%;
    left:0;
    width:373px;
    height: 50px;
    opacity: 0;
   
    z-index: 5;
}
h1 {
    font-weight: 800;
    font-size: 24px;
}

/* Shooting animation for guns */
@keyframes shoot {
    100% {
        left: 600%;
    }
}

/* Movement for imperial big ship*/
@keyframes shipMove {
    60% {
        left: 70%
    }

    80% {
        height: 155px;
        width: 125px;
        transform: rotate(0deg);
    }

    95% {
        left: 85%;
        transform: rotate(90deg);
        height: 50px;
        width: 25px;
    }

    100% {
        left: 85%;
        transform: rotate(90deg);
        height: 50px;
        width: 25px;
    }
}

/* Movement for rebel ship  shoting*/
@keyframes shipMove3 {
    70% {
        left: 60%;
        opacity: 1;
    }

    100% {
        left: 99%;
        opacity: 0;
    }
}

@keyframes shipMove4 {

    0% {
        transform: rotate(45deg);

    }

    70% {
        transform: rotate(0deg);
        left: 55%;
        top: 20%;
    }

    90% {
        transform: rotate(0deg);
        left: 67%;
        top: 20%;
    }

    100% {
        top: 20%;
        left: 110%;
        transform: rotate(0deg);
    }
}

@keyframes shipMove5 {
    90% {

        left: 40%;
    }

    100% {

        left: -25%;
    }
}

@keyframes shipMove6 {
    90% {

        left: 46%;
    }

    100% {

        left: -25%;
    }
}

@keyframes shipMove7 {
    70% {

        left: 37%;
        transform: rotate(180deg);
        top: 80%;
    }

    90% {
        transform: rotate(220deg);
        left: 20%;
        top: 60%;
    }

    100% {

        left: -25%;
        top: 30%;
    }
}

@keyframes shipMove8 {


    0% {

        left: -1027%;
        height: 125%;
        width: 125%;

    }
    25%{
        height: 125%;
        width: 125%;  
    }
    40% {
        height: 34%;
        width: 34%;
        left: 10%;

    }

    100% {
        height: 34%;
        width: 34%;
        left: 10%;
    }
}
/* hero landing on land battle and andjust size for zoom */
@keyframes hero {
    
    0%{
        left: 30%;
        opacity: 0;
        transform: rotate(55deg);
    }
    40%{
        opacity: 0;
        left: 30%;
        transform: rotate(55deg);
    }
    41% {
        opacity: 1;
        left: 30%;
        transform: rotate(55deg);
    }
    50%{
        left: 126%;
        transform: rotate(55deg);
        opacity: 1;
    }

    55%{
        transform: rotate(180deg);
        opacity: 1;
        left: 126%;
    }
    99%{
        transform: rotate(180deg);
        opacity: 1;
        left: 126%;
    }
    100% {
        transform: rotate(180deg);
        opacity: 0;
        left: 130%;
       
    }
}

/* explotion animation for big ships*/
@keyframes boom {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


/* movment of the control bar for who has more controll off map*/
@keyframes war {
    0% {
        background-image: linear-gradient(to right, red 40%, blue 43%);
    }

    5% {
        background-image: linear-gradient(to right, red 42%, blue 45%);
    }

    15% {
        background-image: linear-gradient(to right, red 45%, blue 48%);
    }

    15% {
        background-image: linear-gradient(to right, red 49%, blue 51%);
    }

    25% {
        background-image: linear-gradient(to right, red 51%, blue 54%);
    }

    35% {
        background-image: linear-gradient(to right, red 55%, blue 57%);
    }

    45% {
        background-image: linear-gradient(to right, red 59%, blue 61%);
    }

    55% {
        background-image: linear-gradient(to right, red 56%, blue 59%);
    }

    60% {
        background-image: linear-gradient(to right, red 42%, blue 45%);
    }

    65% {
        background-image: linear-gradient(to right, red 45%, blue 48%);
    }

    75% {
        background-image: linear-gradient(to right, red 49%, blue 51%);
    }

    85% {
        background-image: linear-gradient(to right, red 51%, blue 54%);
    }

    90% {
        background-image: linear-gradient(to right, red 55%, blue 57%);
    }

    100% {
        background-image: linear-gradient(to right, red 40%, blue 43%);
    }
}

/*control bar for who has more controll off map*/
.controll {
    position: relative;
    height: 20px;
    width: 300px;
    border-radius: 10px;
    background-image: linear-gradient(to right, red 40%, blue 43%);
    animation-name: war;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.container {
    width: 100%;
    height: 100vh;
}
/* Logos on the controll bar */
#empireLogo {
    position: absolute;
    height: 30px;
    width: 30px;
    top: -5px;
    left: -35px;
}

#rebelLogo {
    position: absolute;
    height: 30px;
    width: 40px;
    top: -7px;
    left: 296px;
}

.content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 120px;
    text-align: center;
}

/* default size of container for items */
.itemContainer {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* Start default settings Fighter ships */
.shipFighter {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

.shipBullet {
    position: absolute;
    left: 0;
    height: 6%;
    width: 6%;
    transform: rotate(90deg);
    animation-name: shoot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bulletLeftSide {
    left: 53%;
    top: 12%;
}

.bulletRightSide {
    left: 53%;
    top: 80%;
}

/* End default settings Fighter ships */

/*troopers fighting on the zoom in map*/
#trooper1 {
    position: absolute;
    top: 20%;
    left: 0;
    transform: rotate(0deg);
}

#trooper2 {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: rotate(-45deg);
}

#trooper3 {
    position: absolute;
    top: 60%;
    left: 88%;
    transform: rotate(-95deg);
}

#trooper4 {
    position: absolute;
    top: 60%;
    left: 58%;
    transform: rotate(-80deg);
}

/* Default settings solider */
.trooper {
    width: 10%;
    height: 10%;
}

.trooperShot {
    position: absolute;
    top: 65%;
    left: 94%;
    height: 15%;
    width: 15%;
    transform: rotate(90deg);
    animation: shoot linear 1s infinite;
}

.mapConteiner {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.baseRebel {
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 42%;
}

.baseEmpire {
    cursor: pointer;
    position: absolute;
    top: 12%;
    left: 37%;
}

.CapPoint3 {
    cursor: pointer;
    position: absolute;
    top: 43%;
    left: 34%;
}

.CapPoint4 {
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 40%;
}
a{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.playerId{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: -5%;
    left: -40%;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 190px;
    border-radius: 10px;
   
    color: white;
}
#ship5:hover .playerId{
    opacity: 1;
}
#ship1:hover .playerId{
    opacity: 1;
}
#ship4:hover .playerId{
    opacity: 1;
    top: -50%;
    left: -160%;
}
.fight {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: solid 1px white;
    position: absolute;
    top: 60%;
    background-color: gray;
    z-index: 3;
}

#trooperMan {
    position: absolute;
    height: 15%;
    width: 15%;
    left: 15%;
    top: 10%;
    transform: rotate(90deg);
}

.fight:hover {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 15%;
    border: none;
    z-index: 6;
    transition: height 2s linear, width 2s linear, top 2s linear;
}

.point {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: white solid 1px;
    color: white;
}

/* Battelship defult settings */
.boom {
    position: absolute;
    height: 40px;
    width: 20px;
    left: 56%;
    top: 20%;
    opacity: 0;
    animation-name: boom;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Location of explotion */
.location1 {
    position: absolute;
    left: 0;
    top: 0;
}

.location2 {
    position: absolute;
    left: 40%;
    top: 50%;
}

/* END Battelship defult settings */
#mapWorld {
    height: 800px;
    width: 800px;
    border-radius: 10px;
}

/* zoomed in map */
#fightMap {
    height: 100%;
    width: 100%;
}

/* start of Point of intrests on map */
.CapPoint::after {
    content: "";
    left: 25px;
    height: 0;
    width: 0;
    border: none;
    transition: width 0.5s;
}

.CapPoint:hover .text {
    opacity: 1;
    content: "";
    border: 1px solid white;
    transition: opacity 3s;
}

.text li {
    text-align: left;
    margin-left: 25px;
}

.text {
    font-size: 20px;
    position: absolute;
    left: 165px;
    width: 260px;
    height: 150px;
    opacity: 0;
    text-align: center;
}

.CapPoint {
    position: absolute;
}

.CapPoint::after {
    content: "";
    height: 0;
    width: 0;
    border: none;
    transition: width 0.5s;
}

.CapPoint:hover .text {
    opacity: 1;
    content: "";
    border: 1px solid white;
    transition: opacity 3s;
}

.CapPoint:hover::after {
    content: "";
    position: absolute;
    border-top: 1px solid white;
    height: 1px;
    width: 140px;
    left: 25px;
}

.CapPoint::after {
    content: "";
    height: 0;
    width: 0;
    border: none;
    transition: width 0.5s;
}

#ship1 {
    position: absolute;
    top: 20%;
    left: -30%;
    height: 155px;
    width: 125px;
    animation: shipMove 10s linear infinite;
}



#ship2 {
    position: absolute;
    left: -15%;
    top: 25%;
    height: 50px;
    width: 50px;

    animation: shipMove2 10s linear infinite;
}

#ship3 {
    z-index: 2;
    position: absolute;
    left: -70%;
    top: 22%;
    height: 50px;
    width: 50px;
    animation: shipMove3 10s linear infinite;
}

#ship4 {
    position: absolute;
    left: -60%;
    top: 30%;
    height: 50px;
    width: 50px;
    animation: shipMove3 10s linear infinite;
}
#ship5 {
    position: absolute;
    top: -35%;
    left: -35%;
    height: 155px;
    width: 125px;
    transform: rotate(45deg);
    animation: shipMove4 10s linear infinite;
}

#ship6 {
    position: absolute;
    top: 80%;
    left: 130%;
    height: 70px;
    width: 70px;
    transform: rotate(180deg);
    animation: shipMove5 4s linear infinite;
}

#ship7 {
    position: absolute;
    top: 73%;
    left: 135%;
    height: 70px;
    width: 70px;
    transform: rotate(180deg);
    animation: shipMove6 4s linear infinite;
}

#ship8 {
    position: absolute;
    top: 80%;
    left: 110%;
    height: 70px;
    width: 70px;
    transform: rotate(180deg);
    animation: shipMove7 4s linear infinite;
}
/* ship flyes inn and lands and hero comes out to fight on gorund */
#ship9 {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 34%;
    width: 34%;
    animation: shipMove8 17s linear infinite;

}
.hero{
    position: absolute;
    top: -5%;
    left: 30%;
    height: 74%;
    width: 74%;
    opacity: 0;
    transform: rotate(55deg);
    animation:  17s hero linear infinite;
}

footer {
    width: 100vw;
    background-color: black;
    height: 75px;
    margin-top: 10vh;
}

#textFooter {
    color: white;
    padding-top: 25px;
    text-align: center;
}
